@mixin btn-show-catalog($back-color, $text-color) {
    width: 205px;
    height: 64px;
    text-transform: uppercase;
    font-size: var(--fs-300);
    font-weight: 500;
    line-height: 1.1666;
    letter-spacing: 0.05em;
    background-color: $back-color;
    color: $text-color;

    &:hover, &:focus {
        background-color: $text-color;
        color: $back-color;
    }
}
